<div class="flex min-h-screen flex-col">
  <app-navbar class="sticky top-0 z-50"></app-navbar>

  <div class="flex flex-grow px-64">
    <div class="flex flex-grow lg:w-1/4">
      <app-sidebar></app-sidebar>
    </div>

    <section class="my-2 flex flex-col items-center gap-2 lg:w-1/2">
      <app-user-details
        [user]="user"
        (toggleFollow)="followProfileUser($event)"
      ></app-user-details>

      <div
        class="flex w-full flex-row items-center justify-evenly rounded-md bg-white shadow-sm"
      >
        <a
          routerLink="/{{ user.username }}/followers"
          class="w-full p-4 text-center text-sm uppercase leading-6"
          [ngClass]="{
            'border-b-2 border-indigo-600 font-semibold text-indigo-600':
              tab === tabType.FOLLOWERS
          }"
        >
          Followers
        </a>

        <a
          routerLink="/{{ user.username }}/following"
          class="w-full p-4 text-center text-sm uppercase leading-6"
          [ngClass]="{
            'border-b-2 border-indigo-600 font-semibold text-indigo-600':
              tab === tabType.FOLLOWING
          }"
        >
          Following
        </a>
      </div>

      <div
        class="w-full rounded-md bg-white py-4 shadow-sm"
        infiniteScroll
        (scrolled)="nextPage()"
        *ngIf="follows.length > 0"
      >
        <ng-template ngFor let-follow [ngForOf]="follows">
          <div
            class="flex flex-row items-center justify-center gap-2 px-4 py-2"
          >
            <img
              class="block rounded-full"
              src="{{ follow.images.small }}"
              alt="profile image"
            />

            <ul class="flex-grow">
              <li class="font-semibold">
                <a routerLink="/{{ follow.username }}">{{ follow.name }}</a>
              </li>
              <li class="text-gray-500">
                <a routerLink="/{{ follow.username }}"
                  >@{{ follow.username }}</a
                >
              </li>
            </ul>

            <ng-container *ngIf="tab === tabType.FOLLOWING">
              <button
                type="button"
                (click)="unfollowUser(follow.id ?? '')"
                class="rounded-md border-2 border-red-600 bg-transparent px-4 py-2 text-sm font-semibold uppercase leading-6 text-red-600 hover:bg-red-600 hover:text-white"
              >
                Unfollow
              </button>
            </ng-container>

            <ng-container *ngIf="tab === tabType.FOLLOWERS">
              <button
                *ngIf="follow.following === false"
                type="button"
                (click)="followUser(follow.id ?? '')"
                class="rounded-md border-2 border-indigo-600 bg-transparent px-4 py-2 text-sm font-semibold uppercase leading-6 text-indigo-600 hover:bg-indigo-600 hover:text-white"
              >
                Follow
              </button>

              <button
                *ngIf="follow.following === true"
                type="button"
                (click)="unfollowUser(follow.id ?? '')"
                class="rounded-md border-2 border-red-600 bg-transparent px-4 py-2 text-sm font-semibold uppercase leading-6 text-red-600 hover:bg-red-600 hover:text-white"
              >
                Unfollow
              </button>
            </ng-container>
          </div>
        </ng-template>
      </div>

      <ng-container *ngIf="follows.length === 0">
        <div class="mt-10 flex w-full flex-col items-center justify-center">
          <h3 class="font-display text-3xl text-gray-500">
            Nothing to see here
          </h3>
        </div>
      </ng-container>
    </section>

    <aside class="lg:w-1/4"></aside>
  </div>
</div>
