<div class="flex min-h-screen flex-col">
  <div
    class="sticky top-0 z-50 flex items-center justify-between bg-white px-10 py-6 shadow-sm"
  >
    <h6 class="font-display text-3xl text-indigo-600">Chirp</h6>

    <div class="md:w-1/2 lg:w-1/4">
      <input
        type="text"
        placeholder="Search"
        class="block w-full rounded border border-gray-200 bg-gray-200 px-4 py-3 text-gray-700 focus:border-indigo-600 focus:bg-white focus:outline-none"
      />
    </div>
  </div>

  <div class="flex flex-grow px-64">
    <div class="flex flex-grow lg:w-1/4">
      <app-sidebar></app-sidebar>
    </div>

    <section class="my-2 flex flex-col items-center gap-2 lg:w-1/2">
      <div class="aurora-outer w-full rounded-md pt-16 shadow-sm">
        <div class="aurora-inner"></div>

        <div
          class="flex flex-row items-start justify-center rounded-md bg-white py-3"
        >
          <img
            class="relative -top-12 z-0 mx-4 block rounded-full border-4 border-white"
            src="https://placehold.co/100/4f46e5/white?text=Chirp&font=roboto"
            alt=""
          />

          <ul class="flex-grow">
            <li class="font-semibold">{{ user.name }}</li>
            <li class="text-gray-500">@{{ user.username }}</li>
            <li>
              {{ user.location }}
              <span class="ms-4"
                >Joined {{ user.createdAt | date: 'MMMM YYYY' }}</span
              >
            </li>
            <li>
              <a
                routerLink="/{{ user.username }}/followers"
                class="me-4 hover:underline"
                ><span class="font-semibold">{{ user.count.followers }}</span>
                Followers</a
              >
              <a
                routerLink="/{{ user.username }}/following"
                class="hover:underline"
                ><span class="font-semibold">{{ user.count.following }}</span>
                Following</a
              >
            </li>
          </ul>

          <ng-container *ngIf="user.id === loggedInUserId">
            <button
              class="mx-4 rounded-md border-2 border-indigo-600 bg-transparent px-4 py-2 text-sm font-semibold uppercase leading-6 text-indigo-600 hover:bg-indigo-600 hover:text-white"
            >
              Edit Profile
            </button>
          </ng-container>

          <ng-container *ngIf="user.id !== loggedInUserId && !isFollowing">
            <button
              class="mx-4 rounded-md border-2 border-indigo-600 bg-transparent px-4 py-2 text-sm font-semibold uppercase leading-6 text-indigo-600 hover:bg-indigo-600 hover:text-white"
            >
              Follow
            </button>
          </ng-container>

          <ng-container *ngIf="user.id !== loggedInUserId && isFollowing">
            <button
              class="mx-4 rounded-md border-2 border-red-600 bg-transparent px-4 py-2 text-sm font-semibold uppercase leading-6 text-red-600 hover:bg-red-600 hover:text-white"
            >
              Unfollow
            </button>
          </ng-container>
        </div>
      </div>

      <div
        class="flex w-full flex-row items-center justify-evenly rounded-md bg-white shadow-sm"
      >
        <button
          type="button"
          (click)="tabChange(tabType.TWEETS)"
          class="w-full p-4 text-sm uppercase leading-6"
          [ngClass]="{
            'border-b-2 border-indigo-600 font-semibold text-indigo-600':
              tab === tabType.TWEETS
          }"
        >
          Tweets
        </button>
        <button
          type="button"
          (click)="tabChange(tabType.REPLIES)"
          class="w-full p-4 text-sm uppercase leading-6"
          [ngClass]="{
            'border-b-2 border-indigo-600 font-semibold text-indigo-600':
              tab === tabType.REPLIES
          }"
        >
          Replies
        </button>
        <button
          type="button"
          (click)="tabChange(tabType.MEDIA)"
          class="w-full p-4 text-sm uppercase leading-6"
          [ngClass]="{
            'border-b-2 border-indigo-600 font-semibold text-indigo-600':
              tab === tabType.MEDIA
          }"
        >
          Media
        </button>
        <button
          type="button"
          (click)="tabChange(tabType.LIKES)"
          class="w-full p-4 text-sm uppercase leading-6"
          [ngClass]="{
            'border-b-2 border-indigo-600 font-semibold text-indigo-600':
              tab === tabType.LIKES
          }"
        >
          Likes
        </button>
      </div>

      <div *ngIf="tab === tabType.TWEETS" class="flex w-full flex-col gap-2">
        <ng-container *ngIf="tweets.length > 0">
          <ng-template ngFor let-tweet [ngForOf]="tweets">
            <app-tweet [tweet]="tweet"></app-tweet>
          </ng-template>
        </ng-container>

        <ng-container *ngIf="tweets.length === 0">
          <div class="mt-10 flex w-full flex-col items-center justify-center">
            <h3 class="font-display text-3xl text-gray-500">
              Nothing to see here
            </h3>
          </div>
        </ng-container>
      </div>

      <div *ngIf="tab === tabType.REPLIES" class="flex w-full flex-col gap-2">
        <ng-container *ngIf="replies.length > 0">
          <ng-template ngFor let-reply [ngForOf]="replies">
            <app-tweet [tweet]="reply"></app-tweet>
          </ng-template>
        </ng-container>

        <ng-container *ngIf="replies.length === 0">
          <div class="mt-10 flex w-full flex-col items-center justify-center">
            <h3 class="font-display text-3xl text-gray-500">
              Nothing to see here
            </h3>
          </div>
        </ng-container>
      </div>

      <div *ngIf="tab === tabType.MEDIA" class="flex w-full flex-col gap-2">
        <ng-container *ngIf="medias.length > 0">
          <ng-template ngFor let-media [ngForOf]="medias">
            <app-tweet [tweet]="media"></app-tweet>
          </ng-template>
        </ng-container>

        <ng-container *ngIf="medias.length === 0">
          <div class="mt-10 flex w-full flex-col items-center justify-center">
            <h3 class="font-display text-3xl text-gray-500">
              Nothing to see here
            </h3>
          </div>
        </ng-container>
      </div>

      <div *ngIf="tab === tabType.LIKES" class="flex w-full flex-col gap-2">
        <ng-container *ngIf="likes.length > 0">
          <ng-template ngFor let-like [ngForOf]="likes">
            <app-tweet [tweet]="like"></app-tweet>
          </ng-template>
        </ng-container>

        <ng-container *ngIf="likes.length === 0">
          <div class="mt-10 flex w-full flex-col items-center justify-center">
            <h3 class="font-display text-3xl text-gray-500">
              Nothing to see here
            </h3>
          </div>
        </ng-container>
      </div>
    </section>

    <aside class="lg:w-1/4"></aside>
  </div>
</div>
