<div class="flex min-h-screen flex-col">
  <app-navbar class="sticky top-0 z-50"></app-navbar>

  <div class="flex flex-grow px-64">
    <div class="flex flex-grow lg:w-1/4">
      <app-sidebar></app-sidebar>
    </div>

    <section
      class="my-2 flex flex-col items-center gap-2 lg:w-1/2"
      infiniteScroll
      (scrolled)="populateFeed()"
    >
      <ng-container *ngIf="tweets.length > 0">
        <ng-template ngFor let-tweet [ngForOf]="tweets">
          <app-tweet
            [tweet]="tweet"
            (toggleLike)="tweetLiked($event)"
          ></app-tweet>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="tweets.length === 0">
        <div class="mt-10 flex w-full flex-col items-center justify-center">
          <h3 class="font-display text-3xl text-gray-500">
            Nothing to see here
          </h3>
        </div>
      </ng-container>
    </section>

    <aside class="mx-6 lg:w-1/4">
      <app-suggested-follows
        [suggestions]="suggestedFollows"
      ></app-suggested-follows>
    </aside>
  </div>
</div>
