<nav class="flex flex-col justify-center px-6 py-6">
  <div class="flex flex-grow flex-col">
    <a
      class="my-2 rounded-lg py-4 text-center text-sm uppercase leading-6 hover:bg-gray-300"
      routerLink="/feed"
      >Home</a
    >
    <a
      *ngIf="user.id"
      class="my-2 rounded-lg py-4 text-center text-sm uppercase leading-6 hover:bg-gray-300"
      routerLink="/{{ user.username }}"
      >Profile</a
    >
    <button
      (click)="showTweetModal()"
      class="my-2 block w-full rounded-md bg-indigo-600 px-4 py-4 text-sm font-bold uppercase leading-6 text-white shadow-sm hover:bg-indigo-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      New Post
    </button>
  </div>

  <div class="flex flex-row items-center justify-center" *ngIf="user.id">
    <img
      class="block rounded-full"
      src="{{ user.images.small }}"
      alt="profile image"
    />

    <ul class="list-none px-4">
      <li class="font-bold">{{ user.name }}</li>
      <li>@{{ user.username }}</li>
    </ul>

    <div class="relative inline-block">
      <ul
        *ngIf="userOptions"
        class="absolute bottom-12 w-fit rounded-md border border-gray-100 bg-white shadow-sm"
      >
        <li>
          <button
            type="button"
            class="w-full px-4 py-2 hover:bg-gray-200"
            routerLink="/{{ user.username }}"
          >
            Edit Profile
          </button>
        </li>
        <li>
          <button
            type="button"
            class="w-full px-4 py-2 hover:bg-gray-200"
            (click)="logout()"
          >
            Logout
          </button>
        </li>
      </ul>
      <button
        type="button"
        (click)="toggleUserOptions()"
        class="h-10 w-10 rounded-full bg-transparent text-center text-sm font-semibold uppercase leading-6 text-gray-500 hover:bg-gray-300"
      >
        <fa-icon [icon]="faGear"></fa-icon>
      </button>
    </div>
  </div>
</nav>

<app-tweet-modal
  *ngIf="tweetModal"
  (close)="hideTweetModal()"
></app-tweet-modal>
