<ng-container *ngIf="tweet.type === tweetType.RETWEET"
  ><span class="text-sm text-gray-500"
    >{{ tweet.user.name }} retweeted</span
  ></ng-container
>
<div
  class="flex cursor-pointer flex-row items-start justify-start rounded-md bg-white px-4 py-4 shadow-sm"
  (click)="openTweet($event, tweet.id)"
>
  <img
    class="mr-2 block rounded-full"
    src="https://placehold.co/60/4f46e5/white?text=Chirp&font=roboto"
    alt=""
  />

  <div class="flex flex-grow flex-col">
    <div class="flex flex-row items-center justify-between">
      <a
        (click)="openProfile($event, tweet.user.username ?? '')"
        class="font-bold"
      >
        {{ tweet.user.name }}
        <span class="font-normal text-gray-400"
          >@{{ tweet.user.username }}</span
        >
      </a>

      <div class="text-gray-400">
        {{ tweet.createdAt | date: 'MMM dd, yyyy hh:mm a' }}
      </div>
    </div>

    <div class="break-words">
      {{ tweet.content }}
    </div>

    <div
      class="mt-2 grid rounded-md"
      [ngClass]="gridClasses(tweet.attachments.length)"
      *ngIf="tweet.attachments.length > 0"
    >
      <ng-template ngFor let-attachment [ngForOf]="tweet.attachments">
        <ng-container *ngIf="attachment.type === attachmentType.IMAGE">
          <img
            class="h-full w-auto border"
            [ngClass]="tweet.attachments.length === 1 ? '' : 'object-none'"
            src="{{ attachment.content }}"
            alt="{{ attachment.id }}"
          />
        </ng-container>

        <ng-container *ngIf="attachment.type === attachmentType.VIDEO">
          <video
            class="h-full w-auto border"
            [ngClass]="tweet.attachments.length === 1 ? '' : 'object-none'"
            src="{{ attachment.content }}"
            controls
          ></video>
        </ng-container>
      </ng-template>
    </div>

    <div class="mt-2 flex flex-row items-center justify-evenly">
      <button
        class="w-full rounded-md py-1 text-lg text-gray-500 hover:bg-gray-200"
        (click)="openTweet($event, tweet.id)"
      >
        <fa-icon [icon]="faComments"></fa-icon> {{ tweet.count.replies }}
      </button>
      <button
        class="w-full rounded-md py-1 text-lg text-gray-500 hover:bg-gray-200"
        (click)="showRetweetOptions($event, tweet.id)"
      >
        <fa-icon [icon]="faRetweet"></fa-icon> {{ tweet.count.retweets }}
      </button>
      <button
        class="w-full rounded-md py-1 text-lg text-gray-500 hover:bg-gray-200"
        (click)="likeTweet($event, tweet.id)"
      >
        <fa-icon [icon]="faHeart"></fa-icon> {{ tweet.count.likes }}
      </button>
      <button
        class="w-full rounded-md py-1 text-lg text-gray-500 hover:bg-gray-200"
        (click)="shareTweet($event, tweet.id)"
      >
        <fa-icon [icon]="faShareNodes"></fa-icon>
      </button>
    </div>
  </div>
</div>
