<div
  class="flex flex-row items-start justify-start rounded-md bg-white px-4 py-4 shadow-sm"
>
  <img
    class="mr-2 block rounded-full"
    src="https://placehold.co/60/4f46e5/white?text=Chirp&font=roboto"
    alt=""
  />

  <div class="flex flex-col">
    <div class="flex flex-row items-center justify-between">
      <div class="font-bold">
        Danish Ali Furniturewala
        <span class="font-normal text-gray-400">@danish</span>
      </div>

      <div class="text-gray-400">Fri May 1 2023 10:00 AM</div>
    </div>

    <div class="break-words">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem
      temporibus, asperiores sunt aspernatur at laboriosam reprehenderit
      molestias corporis distinctio praesentium consequuntur quaerat alias ipsum
      totam quo debitis atque eveniet magnam.
    </div>

    <div class="mt-2 flex flex-wrap overflow-hidden rounded-md">
      <img
        class="w-1/2 border object-none"
        src="https://placehold.co/300"
        alt="image 1"
      />
      <img
        class="w-1/2 border object-none"
        src="https://placehold.co/300"
        alt="image 2"
      />
      <img
        class="w-1/2 border object-none"
        src="https://placehold.co/300"
        alt="image 3"
      />
      <img
        class="w-1/2 border object-none"
        src="https://placehold.co/300"
        alt="image 4"
      />
    </div>

    <div class="mt-2 flex flex-row items-center justify-between">
      <button class="mr-4">Replies</button>
      <button class="mr-4">Retweet</button>
      <button class="mr-4">Like</button>
      <button class="mr-4">Share</button>
    </div>
  </div>
</div>
