<ng-container *ngIf="tweet.type === tweetType.RETWEET"
  ><span class="text-sm font-semibold text-gray-500"
    ><fa-icon [icon]="faRetweet"></fa-icon>
    {{ tweet.user.name }} retweeted</span
  ></ng-container
>
<div
  class="flex cursor-pointer flex-row items-start justify-start rounded-md bg-white px-4 py-4 shadow-sm"
  (click)="openTweet($event, displayTweet.id)"
>
  <img class="mr-2 block rounded-full" src="{{ user.images.small }}" alt="" />

  <div class="flex flex-grow flex-col">
    <div class="flex flex-row items-center justify-between">
      <a (click)="openProfile($event, user.username)" class="font-bold">
        {{ user.name }}
        <span class="font-normal text-gray-400">@{{ user.username }}</span>
      </a>

      <div class="text-gray-400">
        {{ displayTweet.createdAt | date: 'MMM dd, yyyy hh:mm a' }}
      </div>
    </div>

    <div class="break-words">
      {{ displayTweet.content }}
    </div>

    <div
      class="mt-2 grid rounded-md"
      [ngClass]="gridClasses(displayTweet.attachments.length)"
      *ngIf="displayTweet.attachments.length > 0"
    >
      <ng-template ngFor let-attachment [ngForOf]="displayTweet.attachments">
        <ng-container *ngIf="attachment.type === attachmentType.IMAGE">
          <img
            class="h-full w-auto border"
            [ngClass]="tweet.attachments.length === 1 ? '' : 'object-none'"
            src="{{ attachment.content }}"
            alt="{{ attachment.id }}"
          />
        </ng-container>

        <ng-container *ngIf="attachment.type === attachmentType.VIDEO">
          <video
            class="h-full w-auto border"
            [ngClass]="tweet.attachments.length === 1 ? '' : 'object-none'"
            src="{{ attachment.content }}"
            controls
          ></video>
        </ng-container>
      </ng-template>
    </div>

    <app-tweet
      *ngIf="tweet.type === tweetType.QUOTE"
      [tweet]="tweet.related!"
      [controls]="false"
      class="rounded-md border border-gray-200"
    ></app-tweet>

    <div
      class="mt-2 flex flex-row items-center justify-evenly"
      *ngIf="controls"
    >
      <button
        class="w-full rounded-md py-1 text-lg text-gray-500 hover:bg-gray-200 hover:text-indigo-600"
        (click)="openReplyTweetModal($event, displayTweet.id)"
      >
        <fa-icon [icon]="faComments"></fa-icon>
        {{ displayTweet.count.replies }}
      </button>
      <div class="w-full">
        <button
          class="w-full rounded-md py-1 text-lg text-gray-500 hover:bg-gray-200 hover:text-green-600"
          (click)="toggleRetweetOptions($event, displayTweet.id)"
        >
          <fa-icon [icon]="faRetweet"></fa-icon>
          {{ displayTweet.count.retweets }}
        </button>

        <ul
          *ngIf="retweetOptions"
          class="absolute rounded-md border border-gray-100 bg-white shadow-sm"
        >
          <li>
            <button
              class="w-full border-b border-gray-200 px-4 py-2 text-sm uppercase leading-6 hover:bg-gray-200"
              (click)="newRetweet($event, displayTweet.id)"
            >
              Retweet
            </button>
          </li>
          <li>
            <button
              class="w-full px-4 py-2 text-sm uppercase leading-6 hover:bg-gray-200"
              (click)="openQuoteRetweetModal($event, displayTweet.id)"
            >
              Quote Retweet
            </button>
          </li>
        </ul>
      </div>
      <button
        class="w-full rounded-md py-1 text-lg text-gray-500 hover:bg-gray-200 hover:text-red-600"
        (click)="toggleLikeTweet($event, displayTweet.id)"
      >
        <fa-icon
          [icon]="displayTweet.liked ? faSolidHeart : faHeart"
          [ngClass]="{ 'text-red-600': displayTweet.liked }"
        ></fa-icon>
        {{ displayTweet.count.likes }}
      </button>
      <button
        class="w-full rounded-md py-1 text-lg text-gray-500 hover:bg-gray-200 hover:text-purple-600"
        (click)="shareTweet($event, displayTweet.id)"
      >
        <fa-icon [icon]="faShareNodes"></fa-icon>
      </button>
    </div>
  </div>
</div>

<app-tweet-modal
  *ngIf="tweetModal"
  [type]="relatedType"
  [relatedId]="relatedTweetId"
  (close)="hideTweetModal()"
></app-tweet-modal>
